%h1 New Article
= form_for :article, url: articles_path do |f| 
	%p
		= f.label :author 
		%br
		= f.select(:author_id,  options_from_collection_for_select(@authors, :id, :name)) 

	%p
		= f.label :title  
		%br
		= f.text_field :title 

	%p
		= f.label :text 
		%br
		= f.text_area :body 

	%p
		= f.submit