%h1 Article:
%p
	%strong Author:
	= @article.author.name 

%p
	%strong Title:
	= @article.title
 
%p
	%strong Text:
	= @article.body

%p
	%h1 Comments:
	- @comments.each_with_index do |comment, index| 
		%h5= "#{index+1}.- " + comment.title
		.container= comment.body
	
